<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">your singal blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/lp207663436" target="_blank" th:text="${configurations.get('footerCopyRight')}">2020 独行</a><br/>
        ICP <a href="http://www.beian.miit.gov.cn" th:text="${configurations.get('footerICP')}">黔ICP备 20006322号-1</a>
        <span class="ft-warn">&heartsuit;</span>
        Theme <a rel="friend" href="https://github.com/spiritree/typecho-theme-amaze" target="_blank"> Amaze</a> by <a href="https://github.com/spiritree/typecho-theme-amaze" target="_blank">spiritree</a> & <a href="https://github.com/lp207663436/springboot-blog-" target="_blank">GitHub</a>
    </div>
    <script th:src="@{/js/heart.js}"></script>
</footer>
</html>